/* small device responsive */
@media screen and (max-width: 576px) {
    .main-banner-content{
        max-width: 100%;
    }
    .navbar-content{
        padding: 15px;
        align-items: center;
    }
    .left-nav-content{
        display: none;
    }
    .hamburger-menu{
        display: block;
        color: white;
    }

    /* banner section start */
    .banner-container{
        flex-direction: column;
        padding: 15px;
    }
    .left-banner-content h1{
        font-size: 2.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
        width: 100%;
    }
    .right-banner-content img{
        margin-top: 2rem;
        width: 300px;
        height: 215px;
    }
    /* banner section end */

    /* player card section start */
    .player-card-container{
        max-width: 100%;
        padding: 5px;
    }
    .player-card-content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .player-card img{
        width: 350px;
    }

    /* player card section end */
}



/* tablet device responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .main-banner-content{
        max-width: 100%;
    }
    .navbar-content{
        padding: 15px;
        align-items: center;
    }
    .left-nav-content ul a{
        margin-right: 1.8rem;
    }
    .hamburger-menu{
        display: none;
    }
    
    /* banner section start */
    .main-banner-content {
        height: 25rem;
    }
    .banner-container{
        padding: 15px;
    }
    .left-banner-content h1{
        font-size: 2.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
        width: 100%;
    }
    .right-banner-content img{
        width: 330px;
        height: 280px;
    }
    /* banner section end */

    /* player card section start */
    .player-card-container{
        max-width: 100%;
    }
    .player-card img{
        width: 218px;
    }
    /* player card section end */
}






