/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* similar content */
.btn{
    padding: 10px 15px;
    background-color: rgb(224, 44, 109);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    color: white;
}

/* navbar section styles start */
.main-banner-content{
    max-width: 90%;
    margin: 0 auto;
    background-color: rgb(45, 37, 160);
    height: 40rem;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    padding: 40px 120px 0 120px;
}
.left-nav-content ul{
    list-style: none;
    display: flex;
}
.left-nav-content ul a{
    text-decoration: none;
    margin-right: 3rem;
    color: white;
}
.hamburger-menu{
    display: none;
}
/* navbar section styles end */

/* banner section styles start */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 140px 0 120px;
}
.left-banner-content h1{
    width: 480px;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 4.6rem;
    color: white;
}
.right-banner-content img{
    width: 560px;
    height: 450px;
}

/* banner section styles end */

/* card section styles start */
.player-card-container{
    max-width: 67%;
    margin: 0 auto;
    margin-top: 70px;
}
.player-card-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.player-card{
    padding: 12px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.player-card p{
    margin-bottom: 25px;
    color: rgb(108, 108, 108);
}
.player-card img{
    width: 385px;
}
/* card section styles end */

/* highlights section styles start */
.highlights-container{
    max-width: 67%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-highlight-content h1{
    font-size: 3.2rem;
    font-weight: bold;
    width: 501px;
}
.left-highlight-content p{
    color: rgb(108, 108, 108);
    margin-bottom: 15px;
    width: 460px;
}
.left-highlight-content{
    flex-basis: 45%;
}
.right-highlight-content{
    flex-basis: 55%;
}
.right-highlight-content img{
    width: 100%;
}
/* highlights section styles end */

/* footer section styles start */
.footer-container{
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
}
.footer-container i{
    margin-bottom: 15px;
    margin-right: 15px;
    height: 17px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.footer-container img{
    width: 400px;
}

/* footer section styles end */






